<div class="container" style="margin-bottom: 20px">

  <%= simple_form_for :search, url: vinyls_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="query" id="query" placeholder="<%= params[:query] %>" />
    <button name="button" type="submit" class="btn btn-flat">
      <!-- <i class="fas fa-search"></i> --> <i class="fas fa-compact-disc"></i> Search vinyls
    </button>
  </div>
<% end %>

  <% if params[:query] %>
    <h1>Search results for <%= params[:query] %></h1>
    <% else %>
    <h1>Showing all records</h1>
  <% end %>

  <div class="cards">
    <% @vinyls.each do |vinyl| %>
      <%= link_to vinyl_path(vinyl) do %>
        <div class="card-full">
          <div class="card-full-infos">
            <div>
              <h2><%= vinyl.name %></h2>
              <p><%= vinyl.artist %></p>
            </div>
            <h2 class="card-full-pricing">£ <%= vinyl.price %></h2>
          </div>
            <%= cl_image_tag vinyl.photo %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
