<div class="container-1">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h1>Order Page</h1>
      <br>
      <br>
      <br>
      <h2>Delivery Address</h2>
      <%= simple_form_for [@vinyl, @purchase] do |f| %>
      <%= f.input :name, label: "Name" %>
      <%= f.input :house_number, label: "House/Flat Number" %>
      <%= f.input :street_name, label: "Street Name" %>
      <%= f.input :city, label: "City" %>
      <%= f.input :post_code, label: "Post Code" %>
      <br>
      <br>
      <br>
      <h2>Payment Details</h2>
      <%= f.input :card_holder, label: "Card Holder Name" %>
      <%= f.input :card_number, label: "Card Number" %>
      <%= f.input :expiry_date, label: "Expiry Date" %>
      <%= f.input :security_code, label: "Security Code" %>

        <%= f.submit class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
</div>
