<%#= cl_image_tag @vinyl.photo, height: 300, width: 400, crop: fill %>
<p><%= @vinyl.name %></p>
<p><%= @vinyl.photo %></p>
<p><%= @vinyl.sold %></p>
<p><%= @vinyl.seller_id %></p>
<p><%= @vinyl.media_link %></p>
<p><%= @vinyl.artist %></p>
<p><%= @vinyl.price %></p>
<p><%= @vinyl.year %></p>
<p><%= @vinyl.genre %></p>
<p><%= @vinyl.description %></p>
<p><%= @vinyl.condition %></p>
