<div class="container" style="margin-top: 90px; margin-bottom: 20px">

  <div class="user">
    <div class="user-description">
      <h2>Hi, I'm <%= @user.first_name %></h2>
      <br>
      <h4>London</h4>
      <br>
      <p>I love music and would love to meet those who love it too! </p>
      <p>Get in touch if you have any question about any of my records on sale 🙏</p>
      <%= link_to "Update Profile", edit_user_path(current_user), class: 'btn btn-primary'%>
    </div>
    <div></div>
    <div class="profile-box">
      <div>
        <p><%= cl_image_tag(@user.photo.url, class: "avatar-bordered", :width => 100, :height => 100) %></p>
        <hr>
        <% if @user.reviews.count > 0 %>
          <% average_rating = 0 %>
          <% @user.reviews.each do |review| %>
              <% average_rating += review.rating %>
          <% end %>
          <% final = average_rating / @user.reviews.count %>
          <div style="color: #FA2B57">
          <% final.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          </div>
         <p><i class="far fa-check-circle"></i> <%= pluralize @user.reviews.count, "review" %></p>
          <% else %>
          <p><i class="far fa-check-circle"></i> No reviews yet</p>
          <% end %>

        <!-- @user.created_at -->
        <p><i class="far fa-calendar-alt"></i>    Selling since 2019</p>
      </div>
    </div>
  </div>

  <br>
  <div class="user-records-reviews">
    <div class="user-cards">
      <h3><%= @user.first_name %>'s Records</h3>
      <% @user.vinyls.each do |vinyl| %>
        <%= link_to vinyl_path(vinyl) do %>
          <div class="card-full">
            <div class="card-full-infos">
              <div>
                <h2><%= vinyl.name %></h2>
                <p><%= vinyl.artist %></p>
                <% if vinyl.sold? %>
                    <p>Sold</p>
                <% else %>
                  <p>Not sold</p>
                <% end %>
              </div>
              <h2 class="card-full-pricing">£ <%= vinyl.price %></h2>
            </div>
              <%= cl_image_tag vinyl.photo %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="reviews">
      <h3><%= @user.first_name %>'s Reviews</h3>
      <div style="color: #FA2B57">
      <% @user.reviews.each do |review| %>
        <p><%= review.content %></p>
        <% review.rating.times do %>
          <span class="fas fa-star"></span>
      <% end %>
      <hr>
      <% end %>
    </div>
  </div>

  </div>
</div>


