<%= render 'shared/banner' %>

<div class="container" style="text-align: center; margin-top: 10px; margin-bottom: 20px">
  <br>

  <br>
  <h2>Get inspired by latest records on sale</h2>
  <br>

  <div class="cards">
    <% @vinyls.each do |vinyl| %>
      <%= link_to vinyl_path(vinyl) do %>
        <div class="card-full">
          <div class="card-full-infos">
            <div>
              <h2><%= vinyl.name %></h2>
              <p><%= vinyl.artist %></p>
            </div>
            <h2 class="card-full-pricing">£ <%= vinyl.price %></h2>
          </div>
            <%= cl_image_tag vinyl.photo %>
        </div>
      <% end %>
    <% end %>
  </div>
  <br>
  <%= link_to "Browse all", vinyls_path(@vinyl), class: 'btn btn-flat', style: 'color:white;'%>

</div>

</div>
